
.form-field-required .form-field-label::before{
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";

}
.form-field-label {
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    flex:1;
}

.form-field-label label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    max-height: 32px;
    font-size: 14px;
}


.form-field-label label::after {
    content: ":";
    position: relative;
    margin-block: 0;
    margin-inline-start: 2px;
    margin-inline-end: 8px;
}

.form-field-label .form-field-no-colon::after {
    content: "";
}