.form-field {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 14px;
}

.form-field-horizontal {
    display: flex;
    flex-direction: row;
}

.form-field-vertical .form-field-label {
    padding-bottom: 4px;
    text-align: start !important;
}

.form-field-inline {
    display: flex;
    margin-inline-end: 16px;
}

.form-field-horizontal .form-field-control {
    flex: 1;
    min-width: 0;
    width: 100%;
}