.form-field {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 14px;
}

.form-field-horizontal {
    display: flex;
    flex-direction: row;
}

.form-field-vertical .form-field-label {
    padding-bottom: 4px;
}

.form-field-inline {
    display: flex;
    flex-flow: row wrap;
    margin-inline-end: 16px;
}